# Getting Started With SQL and BigQuery
**[Kaggle sql course](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery)**

In [1]:
from kaggle_course1 import *

## Introduction
create a client object

In [2]:
# Insert you code here

In [3]:
# q1_answer()

- We begin by constructing a reference to the dataset with some method. 
- Next, we use a method, along with the reference we just constructed, to fetch the dataset.

In [4]:
# Construct a reference to the "hacker_news" dataset

# API request - fetch the dataset
q2_check(dataset_ref, dataset)

correct

In [5]:
# q2_hint()
# q2_answer()

Use a certain method to list the tables in the dataset

In [6]:
# List all the tables in the "hacker_news" dataset

# Print names of all tables in the dataset (there are four!)

comments
full
full_201510
stories

In [7]:
# q3_hint()
# q3_answer()

Similar to how we fetched a dataset, we can fetch a table. In the code cell below, we fetch the `full` table in the `hacker_news` dataset

In [8]:
# Construct a reference to the "full" table

# API request - fetch the table

In [9]:
# q4_hint()
# q4_answer()

## Table Schema
In this example, we'll investigate the `full` table that we fetched above.

In [10]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None), SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None), SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None), SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None), SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None), SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None), SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None), SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None), SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None), SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None), SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None), SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None), SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None), SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

Each [`SchemaField`](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.schema.SchemaField.html#google.cloud.bigquery.schema.SchemaField) tells us about a specific column (which we also refer to as a **field**). In order, the information is:

* The **name** of the column
* The **field type** (or datatype) in the column
* The **mode** of the column (`'NULLABLE'` means that a column allows NULL values, and is the default)
* A **description** of the data in that column

The first field has the SchemaField:

`SchemaField('by', 'string', 'NULLABLE', "The username of the item's author.",())`

This tells us:
- the field (or column) is called `by`,
- the data in this field is strings, 
- NULL values are allowed, and
- it contains the usernames corresponding to each item's author.

We can use the [`list_rows()`](https://google-cloud.readthedocs.io/en/latest/bigquery/generated/google.cloud.bigquery.client.Client.list_rows.html#google.cloud.bigquery.client.Client.list_rows) method to check just the first five lines of of the `full` table to make sure this is right. (Sometimes databases have outdated descriptions, so it's good to check.)  This returns a BigQuery [`RowIterator`](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.table.RowIterator.html) object that can quickly be converted to a pandas DataFrame with the [`to_dataframe()`](https://google-cloud.readthedocs.io/en/latest/bigquery/generated/google.cloud.bigquery.table.RowIterator.to_dataframe.html) method.

In [11]:
# Preview the first five lines of the "full" table

<ipython-input-11-d21696d05022>:2: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,"""The local government halted Wu's plan to fly ...",None,kaybe,NaN,1369694561,2013-05-27 22:42:41+00:00,comment,5777002,5773410.0,NaN,NaN,None
1,"Christine Magee, Co-Founder Sleep Country Cana...",http://www.cbc.ca/dragonsden/blog/sleep-countr...,None,None,neom,1.0,1516024758,2018-01-15 13:59:18+00:00,story,16150496,NaN,0.0,NaN,None
2,Ask HN: How are you creatively helping the Cov...,None,"I’m a programmer in California, and I’m lookin...",None,meg_m,5.0,1586203717,2020-04-06 20:08:37+00:00,story,22797252,NaN,2.0,NaN,None
3,None,None,the point of a framework is speedy development...,None,snicker,NaN,1395157701,2014-03-18 15:48:21+00:00,comment,7422609,7422533.0,NaN,NaN,None
4,None,None,I don&#x27;t think it&#x27;s fair for Apple to...,None,ooqr,NaN,1482263675,2016-12-20 19:54:35+00:00,comment,13223353,13222947.0,NaN,NaN,None

In [14]:
# q5_answer()

answer:
client.list_rows(table, max_results=5).to_dataframe()

The `list_rows()` method will also let us look at just the information in a specific column. If we want to see the first five entries in the `by` column, for example, we can do that!

In [16]:
# Preview the first five entries in the "by" column of the "full" table

<ipython-input-16-e2873c833eef>:1: UserWarning: Cannot use bqstorage_client if max_results is set, reverting to fetching data with the tabledata.list endpoint.
  client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

                                               title
0                                               None
1  Christine Magee, Co-Founder Sleep Country Cana...
2  Ask HN: How are you creatively helping the Cov...
3                                               None
4                                               None

In [ ]:
# q6_answer